# Available providers: local, bettercommerce
COMMERCE_PROVIDER=

BETTERCOMMERCE_BASE_URL=
BETTERCOMMERCE_API_TOKEN=

BIGCOMMERCE_STOREFRONT_API_URL=
BIGCOMMERCE_STOREFRONT_API_TOKEN=
BIGCOMMERCE_STORE_API_URL=
BIGCOMMERCE_STORE_API_TOKEN=
BIGCOMMERCE_STORE_API_CLIENT_ID=
BIGCOMMERCE_CHANNEL_ID=
BIGCOMMERCE_STORE_URL=
BIGCOMMERCE_STORE_API_STORE_HASH=
BIGCOMMERCE_STORE_API_CLIENT_SECRET=

NEXT_PUBLIC_SWELL_STORE_ID=
NEXT_PUBLIC_SWELL_PUBLIC_KEY=

NEXT_PUBLIC_SALEOR_API_URL=
NEXT_PUBLIC_SALEOR_CHANNEL=

NEXT_PUBLIC_VENDURE_SHOP_API_URL=
NEXT_PUBLIC_VENDURE_LOCAL_URL=

ORDERCLOUD_CLIENT_ID=
ORDERCLOUD_CLIENT_SECRET=
STRIPE_SECRET=
NEXT_PUBLIC_DEFAULT_SESSION_TIMEOUT_IN_MINS=
NEXT_PUBLIC_DEFAULT_CACHE_TIME_IN_MILLI_SECS=
NEXT_PUBLIC_API_CACHING_LOG_ENABLED=

# Default currency, language & country settings.
BETTERCOMMERCE_DEFAULT_CURRENCY=
BETTERCOMMERCE_DEFAULT_LANGUAGE=
BETTERCOMMERCE_DEFAULT_COUNTRY=
BETTERCOMMERCE_DEFAULT_PHONE_COUNTRY_CODE=

# Encryption settings
CIPHER_ENCRYPTION_KEY=

# Override currency, language & country settings ONLY FOR specific storefronts WHEREVER REQUIRED.
BETTERCOMMERCE_CURRENCY=
BETTERCOMMERCE_LANGUAGE=
BETTERCOMMERCE_COUNTRY=

# Payment Methods Settings
ENABLE_SECURED_PAYMENT_PAYLOAD=
SECURE_PAYMENT_METHODS_SETTINGS_FIELDS=
PAYMENT_METHODS_API_RESULT_UI_SECURED_SETTING_KEYS=

# App log
ERROR_LOG_ENABLED=
ERROR_LOG_OUTPUT_DIR=

# Login Settings
OTP_LOGIN_ENABLED=

# Themes
CURRENT_THEME=

# Caching
PRODUCT_IMAGE_CDN_URL=