{
  "extends": [
    "next",
    "prettier"
  ],
  "rules": {
    "react/no-unescaped-entities": "off",
    "react/display-name": "off",
    "@next/next/no-document-import-in-page": "off",
    "react-hooks/exhaustive-deps": 0,
    "import/no-anonymous-default-export": "off",
    "react-hooks/rules-of-hooks": "off",
    "@next/next/no-img-element": "off"
  }
}