@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

@font-face {
  font-family: 'Inter';
  src: url('../font/Inter-Bold.woff2') format('woff2'),
    url('../font/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../font/Inter-ExtraBold.woff2') format('woff2'),
    url('../font/Inter-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../font/Inter-Black.woff2') format('woff2'),
    url('../font/Inter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../font/Inter-ExtraLight.woff2') format('woff2'),
    url('../font/Inter-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../font/Inter-Light.woff2') format('woff2'),
    url('../font/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../font/Inter-SemiBold.woff2') format('woff2'),
    url('../font/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../font/Inter-Thin.woff2') format('woff2'),
    url('../font/Inter-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../font/Inter-Regular.woff2') format('woff2'),
    url('../font/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../font/Inter-Medium.woff2') format('woff2'),
    url('../font/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-primary) !important;
  font-size: var(--font-14);
  font-weight: 300;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  font-size: var(--font-72);
}

h2 {
  font-size: var(--font-32);
  line-height: 34px;
}

h3 {
  font-size: var(--font-24);
}

h4 {
  font-size: var(--font-18);
}

h5 {
  font-size: var(--font-16);
}

h6 {
  font-size: var(--font-14);
}

p {
  font-size: var(--font-14);
}

.font-10 {
  font-size: 10px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-32 {
  font-size: 32px !important;
}

.font-36 {
  font-size: 36px !important;
}

.font-42 {
  font-size: 42px !important;
}

.font-46 {
  font-size: 46px !important;
}

.font-52 {
  font-size: 52px !important;
}

.font-56 {
  font-size: 56px !important;
}

/* bg color css */
.bg-blue-web {
  background: var(--barnd-blue);
}

/* bg color css */
.primary-text-color {
  color: #000;
}

.bg-header-color {
  background: var(--bg-header-color);
}

.text-header-clr {
  color: var(--text-header-clr);
  font-weight: var(--text-header-font-weight);
  font-size: var(--text-font-size);
  text-transform: uppercase;
}

.text-hover-clr {
  color: var(--text-hover-clr);
}

.border-hover-clr {
  border-color: var(--border-hover-clr);
}

.bg-footer-color {
  background: var(--bg-footer-color);
}

.text-footer-clr {
  color: var(--text-footer-clr);
}

.btn-primary-white.btn-padding-none {
  padding: 0px !important;
}

.cart-icon-dark-white svg {
  color: var(--header-icon-clr);
}

.cart-icon-dark-white .icon-grp:hover svg {
  color: var(--header-icon-hover-clr);
}

/* button  css start */
.btn-primary {
  background: var(--btn-bg-primary);
  color: var(--btn-text-color-primary);
  font-size: var(--font-18);
}

.btn-c.btn-primary {
  background: var(--btn-bg-primary);
  color: var(--btn-text-color-primary);
  font-size: var(--font-18);
}

.btn-c.btn-primary:hover {
  background: var(--btn-bg-hover-primary);
  color: var(--btn-hover-text-color-primary);
}

.btn-primary:hover {
  background: var(--btn-bg-hover-primary);
  color: var(--btn-hover-text-color-primary);
}

.btn-secondary {
  background: var(--btn-bg-secondary);
  color: var(--btn-text-color-secondary);
  font-size: var(--font-18);
}

.btn-secondary:hover {
  background: var(--btn-bg-hover-secondary);
  color: var(--btn-hover-text-color-secondary);
}

.btn-c.btn-secondary {
  display: inline-block;
  text-align: center;
  background: var(--btn-bg-secondary) !important;
  color: var(--btn-text-color-secondary);
  font-size: var(--font-18);
  padding: 12px 24px !important;

  border-radius: 4px;
  border: 0 !important;
}

.btn-c.btn-secondary:hover {
  background: var(--btn-bg-hover-secondary) !important;
  color: var(--btn-hover-text-color-secondary);
}

.btn-default {
  background: var(--btn-bg-default);
  color: var(--btn-text-color-default);
  border: 2px solid var(--btn-text-color-default);
  border-color: var(--btn-border-clr-default);
  font-size: var(--font-18);
}

.btn-default:hover {
  background: var(--btn-bg-hover-default);
  color: var(--btn-hover-text-color-default);
  border-color: var(--btn-hover-border-clr-default);
}

.btn-c.btn-primary-red {
  display: inline-block;
  text-align: center;
  padding: 12px 24px !important;
  background: var(--btn-bg-red) !important;
  border-radius: 4px;
  color: var(--btn-text-color-red);
  border: 2px solid var(--btn-border-red);
  font-size: var(--font-18);
  box-sizing: border-box;
}

.btn-c.btn-primary-red:hover {
  background: var(--btn-bg-hover-red) !important;
  color: var(--btn-hover-text-color-red);
  border: 2px solid var(--btn-border-hover-red);
}

.btn-primary-red {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  background: var(--btn-bg-red);
  border-radius: 4px;
  color: var(--btn-text-color-red);
  border: 2px solid var(--btn-border-red);
  font-size: var(--font-18);
  box-sizing: border-box;
}

.btn-primary-red:hover {
  background: var(--btn-bg-hover-red);
  color: var(--btn-hover-text-color-red);
  border: 2px solid var(--btn-border-hover-red);
}

.btn-primary-blue {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  background: var(--btn-bg-blue);
  border-radius: 4px;
  color: var(--btn-text-color-blue);
  border: 2px solid var(--btn-border-blue);
  font-size: var(--font-18);
  box-sizing: border-box;
}

.btn-primary-blue:hover {
  background: var(--btn-bg-hover-blue);
  color: var(--btn-hover-text-color-blue);
  border: 2px solid var(--btn-border-hover-blue);
}

.btn-primary-teal {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  background: var(--btn-bg-teal);
  border-radius: 4px;
  color: var(--btn-text-color-teal);
  border: 2px solid var(--btn-border-teal);
  font-size: var(--font-18);
  box-sizing: border-box;
}

.btn-primary-teal:hover {
  background: var(--btn-bg-hover-teal);
  color: var(--btn-hover-text-color-teal);
  border: 2px solid var(--btn-border-hover-teal);
}

.btn-primary-white {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  background: var(--btn-bg-white);
  border-radius: 4px;
  color: var(--btn-text-color-white);
  border: 2px solid var(--btn-border-white);
  font-size: var(--font-18);
  box-sizing: border-box;
}

.btn-primary-white:hover {
  background: var(--btn-bg-hover-white);
  color: var(--btn-hover-text-color-white);
  border: 2px solid var(--btn-border-hover-white);
}

.btn-default-red {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  background: var(--btn-d-bg-red);
  border-radius: 4px;
  color: var(--btn-d-text-color-red);
  border: 2px solid var(--btn-d-border-red);
  font-size: var(--font-18);
  box-sizing: border-box;
}

.btn-default-red:hover {
  background: var(--btn-d-bg-hover-red);
  color: var(--btn-d-hover-text-color-red);
  border: 2px solid var(--btn-d-border-hover-red);
}

.btn-default-blue {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  background: var(--btn-d-bg-blue);
  border-radius: 4px;
  color: var(--btn-d-text-color-blue);
  border: 2px solid var(--btn-d-border-blue);
  font-size: var(--font-18);
  box-sizing: border-box;
}

.btn-default-blue:hover {
  background: var(--btn-d-bg-hover-blue);
  color: var(--btn-d-hover-text-color-blue);
  border: 2px solid var(--btn-d-border-hover-blue);
}

.btn-default-teal {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  background: var(--btn-d-bg-teal);
  border-radius: 4px;
  color: var(--btn-d-text-color-teal);
  border: 2px solid var(--btn-d-border-teal);
  font-size: var(--font-18);
  box-sizing: border-box;
}

.btn-default-teal:hover {
  background: var(--btn-d-bg-hover-teal);
  color: var(--btn-d-hover-text-color-teal);
  border: 2px solid var(--btn-d-border-hover-teal);
}

/* button  css End */


/* label badge css start */
.label-primary-red {
  padding: 4px 6px;
  background: var(--label-bg-red);
  color: var(--label-text-clr-red);
  border: 1px solid var(--label-border-red);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-primary-blue {
  padding: 4px 6px;
  background: var(--label-bg-blue);
  color: var(--label-text-clr-blue);
  border: 1px solid var(--label-border-blue);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-primary-white {
  padding: 4px 6px;
  background: var(--label-bg-white);
  color: var(--label-text-clr-white);
  border: 1px solid var(--label-border-white);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-primary-tan {
  padding: 4px 6px;
  background: var(--label-bg-tan);
  color: var(--label-text-clr-tan);
  border: 1px solid var(--label-border-tan);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-primary-yellow {
  padding: 4px 6px;
  background: var(--label-bg-yellow);
  color: var(--label-text-clr-yellow);
  border: 1px solid var(--label-border-yellow);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-default-red {
  padding: 4px 6px;
  background: var(--label-d-bg-red);
  color: var(--label-d-text-clr-red);
  border: 1px solid var(--label-d-border-red);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-default-blue {
  padding: 4px 6px;
  background: var(--label-d-bg-blue);
  color: var(--label-d-text-clr-blue);
  border: 1px solid var(--label-d-border-blue);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-default-white {
  padding: 4px 6px;
  background: var(--label-d-bg-white);
  color: var(--label-d-text-clr-white);
  border: 1px solid var(--label-d-border-white);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

/* label badge css End */

/* flag primary css start */
.flag-primary-red {
  padding: 12px 16px;
  display: inline-block;
  width: 180px;
  background: var(--web-red);
  color: var(--brand-white);
  clip-path: polygon(100% 0, 75% 52%, 100% 100%, 0% 100%, 0 48%, 0% 0%);
}

.flag-primary-blue {
  padding: 12px 16px;
  display: inline-block;
  width: 180px;
  background: var(--barnd-blue);
  color: var(--brand-white);
  clip-path: polygon(100% 0, 75% 52%, 100% 100%, 0% 100%, 0 48%, 0% 0%);
}

.flag-primary-tan {
  padding: 12px 16px;
  display: inline-block;
  width: 180px;
  background: var(--tan-clr);
  color: var(--barnd-blue);
  clip-path: polygon(100% 0, 75% 52%, 100% 100%, 0% 100%, 0 48%, 0% 0%);
}

.flag-primary-teal {
  padding: 12px 16px;
  display: inline-block;
  width: 180px;
  background: var(--teal-clr);
  color: var(--brand-white);
  clip-path: polygon(100% 0, 75% 52%, 100% 100%, 0% 100%, 0 48%, 0% 0%);
}

/* flag primary css start */
/* product list image width and height control css  */
.height-img-auto {
  min-height: 0 !important;
  object-fit: contain !important;
  object-position: inherit;
  width: auto !important;
  height: 180px !important;
}

.height-img-auto-sm {
  min-height: 0 !important;
  object-fit: contain !important;
  object-position: inherit;
  width: auto !important;
  height: 120px !important;
}

@media screen and (min-width:1024px) {
  .height-img-auto {
    min-height: 0 !important;
    object-fit: contain !important;
    object-position: inherit;
    width: auto !important;
    height: 350px !important;
  }

  .height-img-auto-sm {
    min-height: 0 !important;
    object-fit: contain !important;
    object-position: inherit;
    width: auto !important;
    height: 250px !important;
  }
}

.prod-group:hover .prod-name-block {
  display: flex !important;
}

.prod-ul-size {
  display: none !important;
}

.min-prod-name-height {
  min-height: 108px;
}

.f-footer-weight {
  font-weight: var(--text-font-weight);
  ;
}

.long-f-name {
  width: 150px;
  float: right;
}

.light-font-weight {
  font-weight: 300 !important;
}

.p-font-size {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .pagination-ul {
    display: block;
    text-align: center;
    padding: 0 5px;
  }

  .pagination-ul li {
    display: inline-block;
  }

  .pagination-ul li a {
    font-size: 13px !important;
  }

  .p-font-size {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .font-36 {
    font-size: 24px !important;
    line-height: 26px !important;
  }
}

.mobile-card-panel.white-card {
  background: #fff !important;
  min-height: 180px !important;
}

.mobile-card-panel.white-card-sm {
  background: #fff !important;
  min-height: 120px !important;
}

@media screen and (min-width:1024px) {
  .mobile-card-panel.white-card {
    background: #fff !important;
    min-height: 350px !important;
  }

  .mobile-card-panel.white-card-sm {
    background: #fff !important;
    min-height: 250px !important;
  }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .long-f-name {
    width: 94px;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1550px) {
  .long-f-name {
    width: 122px;
  }
}

/* product list image width and height control css  */


/* header css */
.text-icon-display {
  display: none;
}

/* header css */
.font-36 {
  font-size: var(----font-36);
  line-height: 40px;
}

.font-h2-desc h2 {
  font-size: 18px;
  line-height: 20px;
}

.font-h2-desc p {
  font-size: 18px;
  line-height: 24px;
  color: #212530;
}

/* footer css */
.mob-menu-icon {
  color: var(--menu-icon-color) !important;
}


/* main css start */
.mob-img-height {
  min-height: 0 !important;
  height: auto !important;
}

.mob-prod-height {
  min-height: 350px !important;
}

.min-height-65 {
  min-height: 65px;
  height: 100%;
}

.min-cls-h {
  min-height: 440px;
}

@media screen and (max-width:767px) {
  .min-cls-h {
    min-height: 470px;
  }
}

.include-vat-checked {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 12px;
  color: var(--btn-text-color-primary);
}

.include-vat-unchecked {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 12px;
  color: var(--btn-text-color-secondary);
}

object {
  height: auto;
}

/* category landing css start */
.cat-container {
  max-width: 1590px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
}

@media screen and (max-width: 767px) {
  .cat-container {
    padding: 0px;
  }
}

/* category landing css End */
/* main css end */
.cookie-bannner>div {
  width: 350px;
  max-width: 100%;
  background-color: #000;
  -webkit-transition: -webkit-transform 0s ease-in-out, visibility 0s;
  -webkit-transition: transform 0s ease-in-out, visibility 0s;
  transition: transform 0s ease-in-out, visibility 0s
}

.cookie-bannner div:has(button) {
  display: flex;
  flex-direction: column;
}

.cookie-bannner button {
  width: 100%;
  display: block;
  margin: 5px 5px 5px 0 !important;
  border: 1px solid #fff !important;
  min-height: 30px;
  padding: 5px 10px;
}

.cookie-bannner p {
  color: #fff !important;
}

@media screen and (max-width:767px) {
  .cookie-bannner>div {
    width: 100%;
    max-width: 100%;
  }
}

.bg-tan {
  background: var(--tan-clr);
}

.custom-scroll {
  max-height: 700px;
  overflow-y: auto;
}

.custom-scroll::-webkit-scrollbar {
  width: 0px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #fff;
  opacity: 1;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #d3d3d36e !important;
  width: 0px;
  border-radius: 0px;
}

.custom-search-elastic {
  position: relative;
  top: 38rem;
}

.sui-layout-body__inner,
.sui-layout-header {
  background: #FFFFFF;
  border: 0px !important;
  width: 100% !important;
  max-width: 100% !important;
}

.sui-layout-sidebar {
  width: 20% !important;
  padding-top: 30px !important;
  border-right: 1px solid #dddddd;
}

.sui-layout-main {
  padding-top: 30px !important;
  width: 80% !important;
}

.sui-layout-header {
  padding: 0px 24px !important;
}

.sui-result+.sui-result,
.sui-result {
  margin-top: 0px !important;
}

.sui-layout {
  width: 1536px !important;
  max-width: 100% !important;
}

.sui-layout-body:after {
  height: 0px !important;
}

.sui-search-box__text-input {
  padding: 12px !important;
}

.sui-search-box__submit,
.sui-search-box__submit:hover {
  background: #ffffff !important;
  color: #000000 !important;
  font-weight: 600 !important;
  padding: 12px 0px;
  font-size: 12px;
  text-transform: uppercase;
  position: absolute;
  right: 15px;
  top: 2px;
  border: 0px;
  box-shadow: none;
}

.sui-multi-checkbox-facet__option-label {
  margin-bottom: 4px !important;
  font-size: 15px !important;
  font-family: var(--font-primary) !important;
}

.outline-primary {
  outline-color: var(--outline-color-red);
}

@media screen and (max-width:1520px) {
  .sui-layout {
    width: 90% !important;
    max-width: 90% !important;
    margin: 0 auto;
  }
}

.sui-search-box__autocomplete-container {
  display: none !important;
}

@media screen and (max-width:767px) {
  .sui-layout {
    width: 96% !important;
    max-width: 96% !important;
    margin: 0 auto;
    padding-top: 20px !important;
  }

  .sui-layout-sidebar {
    width: 65% !important;
    padding-top: 20px !important;
    border-right: 1px solid #dddddd;
  }

  .sui-layout-main {
    padding-top: 20px !important;
    width: 100% !important;
  }

  .sui-layout-sidebar-toggle {
    margin-top: 0px !important;
    width: 80% !important;
  }

  .sui-search-box__text-input {
    padding: 6px !important;
  }

  .sui-search-box__submit,
  .sui-search-box__submit:hover {
    padding: 6px 0px !important;
    font-size: 0px !important;
  }

  .sui-search-box__autocomplete-container {
    display: block !important;
  }
}

@media screen and (max-width:900px) {
  .text-10-mob {
    font-size: 10px !important;
  }
}

@media screen and (max-width:1540px) {
  .text-header-clr {
    font-size: var(--font-12);
  }
}