@tailwind base;

/* base css start */
:root {
  --primary: #ffffff;
  --primary-2: #f1f3f5;
  --secondary: #000000;
  --secondary-2: #111;
  --selection: var(--cyan);

  --text-base: #000000;
  --text-primary: #000000;
  --text-secondary: white;

  --hover: rgba(0, 0, 0, 0.075);
  --hover-1: rgba(0, 0, 0, 0.15);
  --hover-2: rgba(0, 0, 0, 0.25);
  --cyan: #22b8cf;
  --green: #37b679;
  --red: #da3c3c;
  --purple: #f81ce5;
  --blue: #0070f3;

  --pink: #ff0080;
  --pink-light: #ff379c;

  --magenta: #eb367f;

  --violet: #7928ca;
  --violet-dark: #4c2889;

  --accent-0: #fff;
  --accent-1: #fafafa;
  --accent-2: #eaeaea;
  --accent-3: #999999;
  --accent-4: #888888;
  --accent-5: #666666;
  --accent-6: #444444;
  --accent-7: #333333;
  --accent-8: #111111;
  --accent-9: #000;

  --font-primary: 'Poppins', sans-serif;

  /* font size variable */
  --font-10: 10px;
  --font-12: 12px;
  --font-14: 14px;
  --font-16: 16px;
  --font-18: 18px;
  --font-20: 20px;
  --font-22: 22px;
  --font-24: 24px;
  --font-26: 26px;
  --font-28: 28px;
  --font-30: 30px;
  --font-32: 32px;
  --font-34: 34px;
  --font-36: 36px;
  --font-40: 40px;
  --font-44: 44px;
  --font-48: 48px;
  --font-64: 64px;
  --font-68: 68px;
  --font-72: 72px;
  --font-74: 74px;
  --font-76: 76px;
  /* font size variable */

  /* primary color variable */
  --brand-red: #FF3600;
  --web-red: #DF340C;
  --barnd-blue: #212530;
  --web-blue: #252E47;
  --brand-white: #fff;
  --web-white: #F8F8F8;
  --tan-clr: #F3EDE3;
  --teal-clr: #345662;
  /* primary color variable */

  /* secondary color variable */
  --cool-grey: #DDDBDB;
  --yellow-clr: #FCD673;
  --black-clr: #2A2A2B;
  --light-green: #B1CBC0;
  --deep-green: #5F7970;
  /* secondary color variable */

  /* button primary variable */
  --btn-bg-primary: #16223b;
  --btn-text-color-primary: #fff;
  --btn-hover-text-color-primary: #fff;
  --btn-bg-hover-primary: #0f172a;
  /* button primary variable */

  /* button secondary variable */
  --btn-bg-secondary: #16223b;
  --btn-text-color-secondary: #fff;
  --btn-hover-text-color-secondary: #fff;
  --btn-bg-hover-secondary: #16223b;
  /* button secondary variable */

  /* button primary red variable */
  --btn-bg-red: #DF340C;
  --btn-text-color-red: #fff;
  --btn-hover-text-color-red: #fff;
  --btn-border-red: #DF340C;
  --btn-bg-hover-red: #FF3600;
  --btn-border-hover-red: #FF3600;
  /* button primary variable */

  /* button primary blue variable */
  --btn-bg-blue: #212530;
  --btn-text-color-blue: #fff;
  --btn-hover-text-color-blue: #fff;
  --btn-border-blue: #212530;
  --btn-bg-hover-blue: #252E47;
  --btn-border-hover-blue: #252E47;
  /* button primary blue variable */

  /* button primary white variable */
  --btn-bg-white: #F8F8F8;
  --btn-text-color-white: #212530;
  --btn-hover-text-color-white: #212530;
  --btn-border-white: #212530;
  --btn-bg-hover-white: #FFFFFF;
  --btn-border-hover-white: #212530;
  /* button primary white variable */

  /* button primary teal variable */
  --btn-bg-teal: #345662;
  --btn-text-color-teal: #fff;
  --btn-hover-text-color-teal: #fff;
  --btn-border-teal: #345662;
  --btn-bg-hover-teal: #3F6978;
  --btn-border-hover-teal: #3F6978;
  /* button primary teal variable */

  /* button default variable */
  --btn-bg-default: transparent;
  --btn-text-color-default: #000;
  --btn-border-clr-default: #000;
  --btn-bg-hover-default: transparent;
  --btn-hover-text-color-default: #000;
  --btn-hover-border-clr-default: #cbd5e1;
  /* button default variable */

  /* button default red variable */
  --btn-d-bg-red: #fff;
  --btn-d-text-color-red: #DF340C;
  --btn-d-hover-text-color-red: #FF3600;
  --btn-d-border-red: #DF340C;
  --btn-d-bg-hover-red: rgba(255, 54, 0, 0.1);
  --btn-d-border-hover-red: #FF3600;
  /* button default red variable */

  /* button default blue variable */
  --btn-d-bg-blue: #fff;
  --btn-d-text-color-blue: #212530;
  --btn-d-hover-text-color-blue: #212530;
  --btn-d-border-blue: #212530;
  --btn-d-bg-hover-blue: rgba(33, 37, 48, 0.1);
  --btn-d-border-hover-blue: #212530;
  /* button default blue variable */

  /* button default blue variable */
  --btn-d-bg-teal: #fff;
  --btn-d-text-color-teal: #345662;
  --btn-d-hover-text-color-teal: #345662;
  --btn-d-border-teal: #345662;
  --btn-d-bg-hover-teal: rgba(52, 86, 98, 0.1);
  --btn-d-border-hover-teal: #345662;
  /* button default blue variable */

  /* label primary red variable */
  --label-bg-red: #DF340C;
  --label-text-clr-red: #fff;
  --label-border-red: #DF340C;
  /* label primary red variable */

  /* label primary blue variable */
  --label-bg-blue: #212530;
  --label-text-clr-blue: #fff;
  --label-border-blue: #212530;
  /* label primary blue variable */

  /* label primary white variable */
  --label-bg-white: #fff;
  --label-text-clr-white: #212530;
  --label-border-white: #212530;
  /* label primary white variable */

  /* label primary tan variable */
  --label-bg-tan: #F3EDE3;
  --label-text-clr-tan: #212530;
  --label-border-tan: #F3EDE3;
  /* label primary tan variable */

  /* label primary yellow variable */
  --label-bg-yellow: #FCD673;
  --label-text-clr-yellow: #212530;
  --label-border-yellow: #FCD673;
  /* label primary tan variable */

  /* label default red variable */
  --label-d-bg-red: #fff;
  --label-d-text-clr-red: #DF340C;
  --label-d-border-red: #DF340C;
  /* label default red variable */

  /* label default blue variable */
  --label-d-bg-blue: #fff;
  --label-d-text-clr-blue: #212530;
  --label-d-border-blue: #212530;
  /* label default blue variable */

  /* label default white variable */
  --label-d-bg-white: #212530;
  --label-d-text-clr-white: #fff;
  --label-d-border-white: #fff;
  /* label default white variable */

  /* Header variable */
  --bg-header-color: #ffffff;
  --text-header-clr: #000000;
  --text-hover-clr: #000000;
  --border-hover-clr: #000000;
  --menu-icon-color: #000000;
  /* footer variable */

  /* footer variable */
  --bg-footer-color: #f5f5f5;
  --text-footer-clr: #000000;
  /* footer variable */
  /* compare outline color */
  --outline-color-red: #ffffff;
  /* compare outline color */
}

[data-theme='dark'] {
  --primary: #000000;
  --primary-2: #111;
  --secondary: #ffffff;
  --secondary-2: #f1f3f5;
  --hover: rgba(255, 255, 255, 0.075);
  --hover-1: rgba(255, 255, 255, 0.15);
  --hover-2: rgba(255, 255, 255, 0.25);
  --selection: var(--purple);

  --text-base: white;
  --text-primary: white;
  --text-secondary: black;

  --accent-9: #fff;
  --accent-8: #fafafa;
  --accent-7: #eaeaea;
  --accent-6: #999999;
  --accent-5: #888888;
  --accent-4: #666666;
  --accent-3: #444444;
  --accent-2: #333333;
  --accent-1: #111111;
  --accent-0: #000;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media screen and (max-width: 767px) {
  :root {
    --font-10: 10px;
    --font-12: 12px;
    --font-14: 14px;
    --font-16: 16px;
    --font-18: 18px;
    --font-20: 18px;
    --font-22: 22px;
    --font-24: 18px;
    --font-26: 22px;
    --font-28: 24px;
    --font-30: 24px;
    --font-32: 24px;
    --font-34: 30px;
    --font-36: 28px;
    --font-40: 30px;
    --font-44: 30px;
    --font-48: 30px;
    --font-64: 30px;
    --font-68: 30px;
    --font-72: 32px;
    --font-74: 36px;
    --font-76: 40px;
  }
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-BlackItalic.woff2') format('woff2'),
        url('../font/Poppins-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Bold.woff2') format('woff2'),
        url('../font/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Black.woff2') format('woff2'),
        url('../font/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-BoldItalic.woff2') format('woff2'),
        url('../font/Poppins-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Medium.woff2') format('woff2'),
        url('../font/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-LightItalic.woff2') format('woff2'),
        url('../font/Poppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-ExtraLight.woff2') format('woff2'),
        url('../font/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('../font/Poppins-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('../font/Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Light.woff2') format('woff2'),
        url('../font/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-ExtraBold.woff2') format('woff2'),
        url('../font/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Italic.woff2') format('woff2'),
        url('../font/Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('../font/Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Thin.woff2') format('woff2'),
        url('../font/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-ThinItalic.woff2') format('woff2'),
        url('../font/Poppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.woff2') format('woff2'),
        url('../font/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-MediumItalic.woff2') format('woff2'),
        url('../font/Poppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-SemiBold.woff2') format('woff2'),
        url('../font/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: var(--font-primary);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--text-primary);
  overscroll-behavior-x: none;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  top: 0 !important;
  font-family: var(--font-primary) !important;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* base css End */

@tailwind components;

@tailwind utilities;


body {
  font-family: var(--font-primary) !important;
  font-size: var(--font-16);
  overflow-x: hidden;
}

h1 {
  font-size: var(--font-36);
}

h2 {
  font-size: var(--font-24);
  line-height: 34px;
}

h3 {
  font-size: var(--font-36);
}

h4 {
  font-size: var(--font-14);
}

h5 {
  font-size: var(--font-16);
}

h6 {
  font-size: var(--font-14);
}

p {
  font-size: var(--font-16);
}

.font-10 {
  font-size: 10px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-32 {
  font-size: 32px !important;
}

.font-36 {
  font-size: 36px !important;
}

.font-42 {
  font-size: 42px !important;
}

.font-46 {
  font-size: 46px !important;
}

.font-52 {
  font-size: 52px !important;
}

.font-56 {
  font-size: 56px !important;
}

@media screen and (max-width:767px) {
  .mob-font-16 {
    font-size: 16px !important;
  }
}

/* bg color css */
.bg-blue-web {
  background: var(--barnd-blue);
}

/* bg color css */
.primary-text-color {
  color: #000;
}

.bg-header-color {
  background: var(--bg-header-color);
}

.text-header-clr {
  color: var(--text-header-clr);
}

.text-hover-clr {
  color: var(--text-hover-clr);
}

.border-hover-clr {
  border-color: var(--border-hover-clr);
}

.bg-footer-color {
  background: var(--bg-footer-color);
}

.text-footer-clr {
  color: var(--text-footer-clr);
}

.text-footer-clr p {
  margin-bottom: 25px;
}

.btn-primary-white.btn-padding-none {
  padding: 0px !important;
}

/* button  css start */
.btn {
  font-size: var(--font-14);
  box-sizing: border-box;
  border-radius: 6px;
  display: inline-block;
  text-align: center !important;
  padding: 0.70rem 12px !important;
  cursor: pointer !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

.btn:hover {
  opacity: 0.75 !important;
}

.btn-primary {
  background: var(--btn-bg-primary) !important;
  color: var(--btn-text-color-primary) !important;
}

.btn-c.btn-primary {
  background: var(--btn-bg-primary) !important;
  color: var(--btn-text-color-primary) !important;
  border: 0 !important;
}

.btn-c.btn-primary:hover {
  background: var(--btn-bg-hover-primary) !important;
  color: var(--btn-hover-text-color-primary) !important;
}

.btn-primary:hover {
  background: var(--btn-bg-hover-primary) !important;
  color: var(--btn-hover-text-color-primary) !important;
}

.btn-secondary {
  background: var(--btn-bg-secondary) !important;
  color: var(--btn-text-color-secondary) !important;
}

.btn-secondary:hover {
  background: var(--btn-bg-hover-secondary);
  color: var(--btn-hover-text-color-secondary);
}

.btn-c.btn-secondary {
  background: var(--btn-bg-secondary) !important;
  color: var(--btn-text-color-secondary) !important;
  border: 0 !important;
}

.btn-c.btn-secondary:hover {
  background: var(--btn-bg-hover-secondary) !important;
  color: var(--btn-hover-text-color-secondary) !important;
}

.btn-default {
  background: var(--btn-bg-default) !important;
  color: var(--btn-text-color-default);
  border: 2px solid var(--btn-text-color-default) !important;
  border-color: var(--btn-border-clr-default) !important;
}

.btn-default:hover {
  background: var(--btn-bg-hover-default);
  color: var(--btn-hover-text-color-default);
  border-color: var(--btn-hover-border-clr-default);
}

.btn-c.btn-primary-red {
  background: var(--btn-bg-red) !important;
  color: var(--btn-text-color-red) !important;
  border: 2px solid var(--btn-border-red);
}

.btn-c.btn-primary-red:hover {
  background: var(--btn-bg-hover-red) !important;
  color: var(--btn-hover-text-color-red) !important;
  border: 2px solid var(--btn-border-hover-red);
}

.btn-primary-red {
  background: var(--btn-bg-red) !important;
  color: var(--btn-text-color-red);
  border: 2px solid var(--btn-border-red);
}

.btn-primary-red:hover {
  background: var(--btn-bg-hover-red);
  color: var(--btn-hover-text-color-red);
  border: 2px solid var(--btn-border-hover-red);
}

.btn-primary-blue {
  background: var(--btn-bg-blue);
  color: var(--btn-text-color-blue);
  border: 2px solid var(--btn-border-blue);
}

.btn-primary-blue:hover {
  background: var(--btn-bg-hover-blue);
  color: var(--btn-hover-text-color-blue);
  border: 2px solid var(--btn-border-hover-blue);
}

.btn-primary-teal {
  background: var(--btn-bg-teal);
  color: var(--btn-text-color-teal);
  border: 2px solid var(--btn-border-teal);
 }

.btn-primary-teal:hover {
  background: var(--btn-bg-hover-teal);
  color: var(--btn-hover-text-color-teal);
  border: 2px solid var(--btn-border-hover-teal);
}

.btn-primary-white {
  background: var(--btn-bg-white);
  color: var(--btn-text-color-white);
  border: 2px solid var(--btn-border-white);
}

.btn-primary-white:hover {
  background: var(--btn-bg-hover-white);
  color: var(--btn-hover-text-color-white);
  border: 2px solid var(--btn-border-hover-white);
}

.btn-default-red {
  background: var(--btn-d-bg-red);
  color: var(--btn-d-text-color-red);
  border: 2px solid var(--btn-d-border-red);
 }

.btn-default-red:hover {
  background: var(--btn-d-bg-hover-red);
  color: var(--btn-d-hover-text-color-red);
  border: 2px solid var(--btn-d-border-hover-red);
}

.btn-default-blue {
  background: var(--btn-d-bg-blue);
  color: var(--btn-d-text-color-blue);
  border: 2px solid var(--btn-d-border-blue);
}

.btn-default-blue:hover {
  background: var(--btn-d-bg-hover-blue);
  color: var(--btn-d-hover-text-color-blue);
  border: 2px solid var(--btn-d-border-hover-blue);
}

.btn-default-teal {
  background: var(--btn-d-bg-teal);
  border-radius: 6px;
  color: var(--btn-d-text-color-teal);
  border: 2px solid var(--btn-d-border-teal);
}

.btn-default-teal:hover {
  background: var(--btn-d-bg-hover-teal);
  color: var(--btn-d-hover-text-color-teal);
  border: 2px solid var(--btn-d-border-hover-teal);
}

/* button  css End */


/* label badge css start */
.label-primary-red {
  padding: 4px 6px;
  background: var(--label-bg-red);
  color: var(--label-text-clr-red);
  border: 1px solid var(--label-border-red);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-primary-blue {
  padding: 4px 6px;
  background: var(--label-bg-blue);
  color: var(--label-text-clr-blue);
  border: 1px solid var(--label-border-blue);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-primary-white {
  padding: 4px 6px;
  background: var(--label-bg-white);
  color: var(--label-text-clr-white);
  border: 1px solid var(--label-border-white);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-primary-tan {
  padding: 4px 6px;
  background: var(--label-bg-tan);
  color: var(--label-text-clr-tan);
  border: 1px solid var(--label-border-tan);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-primary-yellow {
  padding: 4px 6px;
  background: var(--label-bg-yellow);
  color: var(--label-text-clr-yellow);
  border: 1px solid var(--label-border-yellow);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-default-red {
  padding: 4px 6px;
  background: var(--label-d-bg-red);
  color: var(--label-d-text-clr-red);
  border: 1px solid var(--label-d-border-red);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-default-blue {
  padding: 4px 6px;
  background: var(--label-d-bg-blue);
  color: var(--label-d-text-clr-blue);
  border: 1px solid var(--label-d-border-blue);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-default-white {
  padding: 4px 6px;
  background: var(--label-d-bg-white);
  color: var(--label-d-text-clr-white);
  border: 1px solid var(--label-d-border-white);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

/* label badge css End */

/* flag primary css start */
.flag-primary-red {
  padding: 12px 16px;
  display: inline-block;
  width: 180px;
  background: var(--web-red);
  color: var(--brand-white);
  clip-path: polygon(100% 0, 75% 52%, 100% 100%, 0% 100%, 0 48%, 0% 0%);
}

.flag-primary-blue {
  padding: 12px 16px;
  display: inline-block;
  width: 180px;
  background: var(--barnd-blue);
  color: var(--brand-white);
  clip-path: polygon(100% 0, 75% 52%, 100% 100%, 0% 100%, 0 48%, 0% 0%);
}

.flag-primary-tan {
  padding: 12px 16px;
  display: inline-block;
  width: 180px;
  background: var(--tan-clr);
  color: var(--barnd-blue);
  clip-path: polygon(100% 0, 75% 52%, 100% 100%, 0% 100%, 0 48%, 0% 0%);
}

.flag-primary-teal {
  padding: 12px 16px;
  display: inline-block;
  width: 180px;
  background: var(--teal-clr);
  color: var(--brand-white);
  clip-path: polygon(100% 0, 75% 52%, 100% 100%, 0% 100%, 0 48%, 0% 0%);
}

/* flag primary css start */
@media screen and (max-width: 767px) {
  .pagination-ul {
    display: block;
    text-align: center;
    padding: 0 5px;
  }

  .pagination-ul li {
    display: inline-block;
  }

  .pagination-ul li a {
    font-size: 13px !important;
  }

  .font-36 {
    font-size: 24px !important;
  }
}

.min-height-65 {
  min-height: 82px;
  height: 100%;
}

/* footer css */
.mob-menu-icon {
  color: var(--menu-icon-color) !important;
}

.include-vat-checked {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 12px;
  color: var(--btn-text-color-primary);
}

.include-vat-unchecked {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 12px;
  color: var(--btn-text-color-secondary);
}

/* .min-cls-h {
  min-height: 440px;
} */

@media screen and (min-width:767px) {
  .min-cls-h {
    min-height: 470px;
  }

  .min-cls-h-400 {
    min-height: 400px;
  }
}

/* product list image width and height control css  */
.height-img-auto {
  min-height: 0;
  object-fit: contain !important;
  object-position: inherit;
  width: auto !important;
  height: 180px !important;
}

.height-img-auto-sm {
  min-height: 0 !important;
  object-fit: contain !important;
  object-position: inherit;
  width: auto !important;
  height: 120px !important;
}

.mobile-card-panel.white-card {
  background: #fff !important;
  min-height: 180px !important;
}


.mobile-card-panel.white-card-sm {
  background: #fff !important;
  min-height: 120px !important;
}

@media screen and (min-width:1024px) {
  .height-img-auto {
    min-height: 0;
    object-fit: contain !important;
    object-position: inherit;
    width: auto !important;
    height: 350px !important;
  }

  .height-img-auto-sm {
    min-height: 0 !important;
    object-fit: contain !important;
    object-position: inherit;
    width: auto !important;
    height: 250px !important;
  }

  .mobile-card-panel.white-card {
    background: #fff !important;
    min-height: 350px !important;
  }

  .mobile-card-panel.white-card-sm {
    background: #fff !important;
    min-height: 250px !important;
  }
}

@media screen and (min-width:1024px) {
  .mobile-card-panel.white-card {
    background: #fff !important;
    min-height: 220px !important;
  }
}

.cookie-bannner>div {
  width: 350px;
  max-width: 100%;
  background-color: #000;
  -webkit-transition: -webkit-transform 0s ease-in-out, visibility 0s;
  -webkit-transition: transform 0s ease-in-out, visibility 0s;
  transition: transform 0s ease-in-out, visibility 0s
}

.cookie-bannner div:has(button) {
  display: flex;
  flex-direction: column;
}

.cookie-bannner button {
  width: 100%;
  display: block;
  margin: 5px 5px 5px 0 !important;
  border: 1px solid #fff !important;
  min-height: 30px;
  padding: 5px 10px;
}

.cookie-bannner p {
  color: #fff !important;
}

@media screen and (max-width:767px) {
  .cookie-bannner>div {
    width: 100%;
    max-width: 100%;
  }
}

.bg-tan {
  background: var(--tan-clr);
}

.custom-scroll {
  max-height: 700px;
  overflow-y: auto;
}

.custom-scroll::-webkit-scrollbar {
  width: 0px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #fff;
  opacity: 1;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #d3d3d36e !important;
  width: 0px;
  border-radius: 0px;
}

.outline-primary {
  outline-color: var(--outline-color-red);
}

.mob-padding-container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

@media screen and (max-width:900px) {
  .text-10-mob {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 1220px) {
  .container-ffx.small-screen {
    max-width: 1120px !important;
    width: 100% !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin: 0 auto !important;
    box-sizing: border-box;
  }

  .checkout-container {
    width: 60% !important;
    padding-right: 5rem;
  }

  .basket-container {
    width: 40%;
    padding-left: 3rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1220px) {
  .container-ffx.small-screen {
    max-width: 100% !important;
    width: 100% !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin: 0 auto !important;
    box-sizing: border-box;
  }

  .checkout-container {
    width: 100%;
    padding-right: 0rem;
  }

  .basket-container {
    width: 100%;
    padding-left: 0rem;
  }
}

.list-para p {
  margin-bottom: 20px !important;
}

.checkout-frame-container>* {

  .card-frame,
  .card-number-frame,
  .expiry-date-frame,
  .cvv-frame {
    height: 48px;
  }

  #schemeChoice {
    height: 200px !important;
  }

  #payment-form {
    width: 280px;
    margin: 0 auto;
  }

  label {
    display: block;
    height: 10px;
    color: #13395e;
    font-size: 14px;
    font-weight: 500;
    line-height: 10px;
    margin: 8px 0;
  }

  .date-and-code {
    display: flex;
    margin-bottom: 8px;
  }

  .date-and-code>div:nth-child(1) {
    width: 55.715%;
  }

  .date-and-code>div:nth-child(2) {
    width: 45.719%;
  }

  .input-container {
    position: relative;
    display: flex;
    height: 40px;
  }

  .icon-container:last-child {
    right: 0;
  }

  .icon-container.payment-method {
    right: 0;
  }

  .input-container.card-number {
    margin-bottom: 8px;
  }

  .input-container.expiry-date {
    margin-right: 4px;
  }

  .input-container.cvv {
    margin-left: 4px;
  }

  .card-number-frame {
    padding-left: 10px;
  }

  .expiry-date-frame {
    padding-left: 10px;
  }

  .cvv-frame {
    padding-left: 10px;
  }

  div+button {
    margin-top: 8px;
  }

  .icon-container {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 26px;
    margin: 0 7px;
  }

  .icon-container.payment-method {
    transform: translateY(-50%) rotateY(90deg);
    transition: opacity 0.15s ease-out;
    opacity: 0;
    top: 50%;
  }

  .icon-container.payment-method.show {
    opacity: 1;
    transition: all 0.4s ease-out;
    transform: translateY(-50%) rotateY(0deg);
  }

  .icon-container.payment-method img {
    width: 100%;
  }

  [id$="-error"] {
    display: none;
  }

  .frame {
    opacity: 0;
  }

  .frame--activated {
    opacity: 1;
    border: solid 1px #212530;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(19, 57, 94, 0.2);
    margin-bottom: 2px;
  }

  .frame--activated.frame--focus {
    border: solid 1px #13395e;
    box-shadow: 0 2px 5px 0 rgba(19, 57, 94, 0.15);
  }

  .frame--activated.frame--invalid {
    border: solid 1px #d96830;
    box-shadow: 0 2px 5px 0 rgba(217, 104, 48, 0.15);
  }

  .error-message {
    display: block;
    color: #c9501c;
    font-size: 0.9rem;
    margin: 8px 0 0 1px;
    font-weight: 300;
  }

  #pay-button {
    margin-top: 150px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    height: 40px;
    width: 100%;
    background-color: #13395e;
    box-shadow: 0 1px 3px 0 rgba(19, 57, 94, 0.4);
  }

  #pay-button:active {
    background-color: #0b2a49;
    box-shadow: 0 1px 3px 0 rgba(19, 57, 94, 0.4);
  }

  #pay-button:hover {
    background-color: #15406b;
    box-shadow: 0 2px 5px 0 rgba(19, 57, 94, 0.4);
  }

  #pay-button:disabled {
    background-color: #697887;
    box-shadow: none;
  }

  #pay-button:not(:disabled) {
    cursor: pointer;
  }

  .success-payment-message {
    color: #13395e;
    line-height: 1.4;
  }

  .token {
    color: #b35e14;
    font-size: 0.9rem;
    font-family: monospace;
  }

  /**
    IE11-targeted optimisations
    */

  _:-ms-fullscreen,
  :root .icon-container {
    display: block;
  }

  _:-ms-fullscreen,
  :root .icon-container img {
    top: 50%;
    -ms-transform: translateY(-50%);
    position: absolute;
  }

  _:-ms-fullscreen,
  #icon-card-number,
  _:-ms-fullscreen,
  #icon-expiry-date,
  _:-ms-fullscreen,
  #icon-cvv {
    left: 7px;
  }

  #checkout-frames-card-number::-ms-clear {
    display: none;
  }

}

.max-panel-search {
  max-height: 80vh;
  overflow-y: auto;
}

.max-panel-search::-webkit-scrollbar {
  width: 0px;
}

.max-panel-search::-webkit-scrollbar-track {
  background: #fff;
  opacity: 1;
}

.max-panel-search::-webkit-scrollbar-thumb {
  background: #d3d3d36e !important;
  width: 0px;
  border-radius: 0px;
}

.border-footer-btn {
  border: 1px solid #fff;
}

@media screen and (max-width:1620px) {
  .btn {
    font-size: var(--font-12) !important;
  }
}

.flex-grid-sec .grid-inner-section:nth-child(2n) {
  flex-direction: row-reverse !important;
}

.flex-grid-sec .grid-inner-section:nth-child(2n) .left-flex-sec {
  order: 2;
}

.flex-grid-sec .grid-inner-section:nth-child(2n) .right-flex-sec {
  order: 1;
}

@media screen and (max-width:767px) {
  .flex-grid-sec .grid-inner-section:nth-child(2n) {
    flex-direction: row !important;
  }

  .flex-grid-sec .grid-inner-section .right-flex-sec {
    order: 1;
  }

  .flex-grid-sec .grid-inner-section .left-flex-sec {
    order: 2;
  }

  .mob-navigation-hide .swiper-button-prev,
  .mob-navigation-hide .swiper-button-next {
    display: none !important;
  }

  .mob-w-screen {
    width: 100%;
  }
}

@media screen and (min-width:767px) and (max-width:1300px) {
  .grid-sm-4{
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }
}
.button {
  display: inline-block !important;
  text-align: center !important;
  background: var(--btn-bg-secondary) !important;
  color: var(--btn-text-color-secondary) !important;
  font-size: var(--font-14) !important;
  padding: 6px 12px !important;
  border: 0 !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important
}
.button:hover {
  background: var(--btn-bg-hover-secondary) !important;
  color: var(--btn-hover-text-color-secondary) !important;
}
@media screen and (max-width:767px) {
.cart-recently-viewed{
  width: 325px !important;
  max-width: 325px !important;
  min-width: auto;
}
}
.wishlist-img-height{
  min-height: 272px !important;
}

.brand-logo{
  width: 65px;
  height: auto;
}

.bg-banner{
  background-color: #ffedd5;
}

@media screen and (max-width:767px) {
  .brand-logo {
    width: 60px;
    height: auto;
}
}