.google-plus-logo {
    color: #fff;
    background-color: #ea4335;
}

.fb-logo {
    color: #fff;
    background-color: #1877f2;
}

.apple-logo {
    color: #fff;
    background-color: #000;
    fill: #fff;
}
.min-height-com{
    min-height: 425px;
}

.cursor-not-allowed {
    min-height: 2.5em;
}