.google-plus-logo {
    color: #fff;
    background-color: #ea4335;
}

.fb-logo {
    color: #fff;
    background-color: #1877f2;
}

.apple-logo {
    color: #fff;
    background-color: #000;
    fill: #fff;
}

.min-height-com {
    min-height: 425px;
}

.cursor-not-allowed {
    min-height: 2.5em;
}

.height-auto-slide {
    height: auto !important;
}

.height-auto-slide .height-full {
    height: 100% !important;
    padding-bottom: 0 !important;
}

.height-auto-slide .height-full .slider-mb-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.search-wrapper {
    right: 0;
    width: 100%;
    left: 0%;
    z-index: 999;
}

@media screen and (min-width:1480px) {
    .search-wrapper {
        right: 0;
        width: 126%;
        left: -13%;
        z-index: 999;
    }
}

@media screen and (min-width:320px) and (max-width:900px) {
    .width-md-full {
        width: 90% !important;
    }
}

@media screen and (max-width:450px) {
    .width-md-full {
        flex-direction: column;
        width: 95% !important;
    }
}

.container {
    max-width: 1562px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}