@tailwind base;
@import './base.css';

@tailwind components;
@import './components.css';

@tailwind utilities;

@font-face {
  font-family: 'Urbanist';
  src: url('../font/Urbanist-Black.woff2') format('woff2'),
    url('../font/Urbanist-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../font/Urbanist-ExtraLight.woff2') format('woff2'),
    url('../font/Urbanist-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../font/Urbanist-Italic.woff2') format('woff2'),
    url('../font/Urbanist-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../font/Urbanist-ExtraBoldItalic.woff2') format('woff2'),
    url('../font/Urbanist-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../font/Urbanist-BlackItalic.woff2') format('woff2'),
    url('../font/Urbanist-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../font/Urbanist-Light.woff2') format('woff2'),
    url('../font/Urbanist-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../font/Urbanist-BoldItalic.woff2') format('woff2'),
    url('../font/Urbanist-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../font/Urbanist-ExtraBold.woff2') format('woff2'),
    url('../font/Urbanist-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../font/Urbanist-ExtraLightItalic.woff2') format('woff2'),
    url('../font/Urbanist-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../font/Urbanist-Bold.woff2') format('woff2'),
    url('../font/Urbanist-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../font/Urbanist-SemiBold.woff2') format('woff2'),
    url('../font/Urbanist-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../font/Urbanist-SemiBoldItalic.woff2') format('woff2'),
    url('../font/Urbanist-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../font/Urbanist-Regular.woff2') format('woff2'),
    url('../font/Urbanist-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../font/Urbanist-ThinItalic.woff2') format('woff2'),
    url('../font/Urbanist-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../font/Urbanist-MediumItalic.woff2') format('woff2'),
    url('../font/Urbanist-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../font/Urbanist-LightItalic.woff2') format('woff2'),
    url('../font/Urbanist-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../font/Urbanist-Medium.woff2') format('woff2'),
    url('../font/Urbanist-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../font/Urbanist-Thin.woff2') format('woff2'),
    url('../font/Urbanist-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Urbanist';
}
.fit {
  min-height: calc(100vh - 88px);
  background-color: #ffffff !important;
}

.nav-border-right {
  padding: 0px;
  position: relative;
}

.nav-border-right:after {
  content: '';
  position: absolute;
  right: -18px;
  top: 4px;
  width: 1px;
  height: 25px;
  background-color: #eaeaea;
}
.nav-border-right:last-child:after {
  content: '';
  position: absolute;
  right: -18px;
  top: 4px;
  width: 0px;
  height: 25px;
  background-color: #ffffff;
}
.z-99 {
  z-index: 99;
}

.z-999 {
  z-index: 999;
}

.z-9999 {
  z-index: 9999;
}

/* Overlay Loader */
.overlay-panel {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.add-wishlist {
  bottom: -25px !important;
  padding: 6px;
  text-align: center;
  right: 0 !important;
}

.full-table table {
  width: 100% !important;
}

.full-table table th {
  background: #f5f5f5 !important;
}

.footer_row_light-grey {
  background-color: #ededed;
  color: #000;
}

.footer_row_dark-grey {
  background-color: #dcdcdc;
}

.mobile-hero-banner {
  max-height: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
}

@media screen and (min-width: 1180px) {
  .brand-grid-3 .lg\:grid-cols-3 {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 1480px) and (min-width: 1024px) {
  .md\:w-4\/5 {
    width: 100% !important;
    padding: 0px 25px !important;
  }
  .sm\:w-3\/5 {
    width: 100% !important;
    padding: 0px 25px !important;
  }

  .lg\:grid-cols-5 {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }

  .lg\:grid-cols-6 {
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
  }
}
.max-w-md {
  max-width: 29.2rem !important;
}
.max-w-xl {
  max-width: 60rem !important;
}
@media screen and (max-width: 767px) {
  .mobile-image-cart > span,
  .mobile-image-cart img {
    width: 80px !important;
    height: 80px !important;
    object-fit: cover !important;
    object-position: top !important;
  }
}

.image-container span {
  padding: 0 !important;
}

.h-screen {
  height: 100vh !important;
}

.lookbook-image {
  position: relative;
}

.lookbook-image::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  top: 0;
  left: 0;
  position: absolute;
}

.lookbook-image .lookbook-data {
  position: absolute !important;
  top: 20%;
  left: 10%;
  z-index: 99;
}

.top-full {
  top: 100% !important;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2) !important;
}

.inset-0 {
  z-index: 9999 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

@media screen and (max-width: 767px) {
  .sm\:h-72 {
    height: 12rem !important;
  }
  .banner-Image {
    height: auto !important;
  }
}
.notify-me-pop {
  z-index: 99999 !important;
  position: relative;
}

.inset-0 {
  z-index: 9999 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.swiper-button-next {
  color: white !important;
  background: rgba(0, 0, 0, 0.2);
  width: 50px !important;
  height: 50px !important;
  line-height: 50px;
  border-radius: 25px;
  font-size: 28px;
  text-align: center;
  transition: background 0.45s cubic-bezier(0.22, 0.61, 0.35, 1);
}

.mySwiper {
  z-index: 0 !important;
}

#search-input {
  margin-top: 0px;
}

.filter-input {
  display: none;
}
.swiper-button-next::after {
  font-size: 25px !important;
}

.swiper-button-prev::after {
  font-size: 25px !important;
}

.swiper-button-prev {
  color: white !important;
  background: rgba(0, 0, 0, 0.2);
  width: 50px !important;
  height: 50px !important;
  line-height: 50px;
  border-radius: 25px;
  font-size: 28px;
  text-align: center;
  transition: background 0.45s cubic-bezier(0.22, 0.61, 0.35, 1);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cart-related-prod .p-h-16r {
    height: 300px !important;
  }

  .cart-related-prod .product-ratio-image {
    height: 300px !important;
    width: 100% !important;
  }
}

.max-panel {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
.max-panel::-webkit-scrollbar {
  width: 6px;
}

.max-panel::-webkit-scrollbar-track {
  background: #fff;
  opacity: 1;
}

.max-panel::-webkit-scrollbar-thumb {
  background: #d3d3d36e !important;
  width: 6px;
  border-radius: 6px;
}
.bg-cart-sidebar-green-light {
  background-color: #ebf6f1;
}

.text-green-dark {
  color: #00890e;
}
#payment-form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}

#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

/* Buttons and links */
#payment-submit {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

#payment-submit:hover {
  filter: contrast(115%);
}

#payment-submit:disabled {
  opacity: 0.5;
  cursor: default;
}

/* stripe-spinner/processing state, errors */
.stripe-spinner,
.stripe-spinner:before,
.stripe-spinner:after {
  border-radius: 50%;
}

.stripe-spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.stripe-spinner:before,
.stripe-spinner:after {
  position: absolute;
  content: '';
}

.stripe-spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.stripe-spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  #payment-form {
    width: 80vw;
    min-width: initial;
  }
}

@media screen and (min-width: 640px) {
  .cart-related-prod .p-h-16r {
    height: 320px !important;
  }
}

.line-clip-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 42px;
  min-height: 42px !important;
}

.line-clip-7 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  max-height: 210px;
}

.image-container {
  width: 100%;
  max-width: 100%;
}

.image-container > div,
.image-container > span {
  position: unset !important;
}

.image-container .image {
  object-fit: cover !important;
  width: 100% !important;
  position: relative !important;
  object-position: top !important;
}
.sm\:h-64 {
  height: 16rem !important;
}

.sm\:h-72 {
  height: 18rem !important;
}

@media screen and (min-width: 768px) {
  .sm\:min-h-screen {
    min-height: 100vh !important;
  }
}
.h-full {
  height: 100% !important;
}

.sm\:h-44 {
  height: 11rem !important;
}

.marquee-container .overlay {
  --gradient-color: transparent !important;
}

@media screen and (max-width: 767px) {
  .sm\:h-72 {
    height: 12rem !important;
  }
  .cart-related-prod .p-h-16r {
    height: 320px !important;
  }

  .cart-related-prod .product-ratio-image {
    height: 320px !important;
    width: 100% !important;
    max-width: 100% !important;
  }
  .cart-related-prod .width-max--title {
    width: 230px;
  }
}

.cart-related-prod .hidden-all-add {
  display: inline-block;
}

.cart-related-prod .hidden-cart-sec {
  display: none;
}

.cart-related-prod.max-prod-width .max-w-mob-150 {
  max-width: 150px !important;
}

.cart-related-prod .width-max--title {
  width: 200px;
}
.max-w-xl {
  max-width: 60rem !important;
}
.section-devider-sm {
  width: 100%;
  float: left;
  background: #f7f7f7;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.04);
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: 20px;
  margin: 25px 0;
}

@media screen and (min-width: 1024px) {
  .min-h-image {
    min-height: 330px;
  }
  .related-min-h-image {
    min-height: 380px;
  }
}
body {
  background-color: #ffffff !important;
}

.opacity-0 {
  opacity: 0;
}

.section-devider {
  width: 100%;
  float: left;
  background: #f4f4fd;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.04);
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: 15px;
  margin: 50px 0;
}

.section-devider.sm {
  width: 100%;
  float: left;
  background: #f4f4fd;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.04);
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: 10px;
  margin: 10px 0;
}

.promo-bg {
  background: rgba(0, 25, 137, 0.1);
  border: 1px solid #001e89;
  border-radius: 2px !important;
}

.promo-bg:hover {
  background: rgba(0, 16, 137, 0.1);
  border: 1px solid #002b89;
}

.coupon-panel {
  width: auto;
  background: rgba(0, 57, 137, 0.1);
  border: 1px solid #001089;
  border-radius: 2px !important;
  position: relative;
  display: table;
  justify-items: end;
  text-align: left;
  margin: 0px auto;
  float: right;
}

.coupon-text {
  display: inline-block;
  width: auto;
  color: rgba(0, 0, 0, 0.92);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 10px 5px 10px;
}

.coupon-copy {
  display: inline-block;
  border-left: 1px solid #001989;
  color: #000e89;
  text-align: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 2px !important;
}
.style-newin_article {
  position: relative;
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 4;
  overflow: hidden;
}
.style-newin_article-title {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.25s transform ease;
  box-sizing: border-box;
  color: #fff;
  text-rendering: geometricPrecision;
  text-align: center;
  transform: translate(0, 40px);
}

.style-newin_article:hover .style-newin_article-title {
  transform: translate(0, 0px);
}

.custom-overlay {
  z-index: 999 !important;
}

@media screen and (max-width: 767px) {
  /* my account mobile css start */
  .main-account-grid .col-span-3.mob-tab-full,
  .main-account-grid .col-span-9.mob-tab-full {
    grid-column: span 12 / span 12;
    border: none;
  }

  .col-span-9.mob-tab-full {
    grid-column: span 12 / span 12;
    border: none;
  }

  .mob-hidden {
    display: none;
  }

  .col-span-9.mob-tab-full {
    padding-top: 0;
  }
}
.text-brown-light {
  color: rgba(37, 16, 0, 0.56) !important;
}
.text-10 {
  font-size: 10px !important;
}
.label-confirmed {
  background: rgba(0, 137, 14, 0.12);
  border-radius: 2px;
  color: #00890e;
  line-height: 1;
}

.label-Cancelled {
  background: rgba(193, 0, 0, 0.12);
  border-radius: 2px;
  color: #e00000;
  line-height: 1;
}

.label-pending {
  background: rgba(255, 152, 0, 0.12);
  border-radius: 2px;
  color: #ff9800;
  line-height: 1;
}

.label-Delivered {
  background: #00890e;
  border-radius: 2px;
  color: #ffffff;
  line-height: 1;
}
.o-detail-continer {
  max-width: 550px;
  width: 100%;
  padding-left: 4rem;
}
.o-detail-header {
  max-width: 550px;
  width: 100%;
  padding-left: 0rem;
}
.text-secondary-full-opacity {
  color: rgba(0, 19, 37, 0.92);
}

.text-brown {
  color: rgba(37, 16, 0, 0.64) !important;
}

.border-brown-light {
  border-color: rgba(106, 52, 31, 0.4) !important;
}

.full-m-header {
  margin-left: -15px;
  /* margin-right: -15px; */
  padding-left: 15px;
  padding-right: 15px;
}

.section-devider {
  width: 100%;
  float: left;
  background: #f7f7f7;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.04);
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: 20px;
  margin: 50px 0;
}
.section-devider-sm {
  width: 100%;
  float: left;
  background: #f7f7f7;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.04);
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: 20px;
  margin: 25px 0;
}
.full-m-ex-header {
  /* margin-left: -30px;
  margin-right: -30px; */
  padding-left: 30px;
  padding-right: 30px;
}
.leading-none.line-height-0 {
  line-height: 0;
}
.show-filter-btn {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s linear;
}
.hide-filter-btn {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear;
}

@media screen and (max-width: 414px) {
  .mobile-view {
    display: none;
  }
  .category-landing-image {
    height: 100% !important;
    width: auto;
    min-height: 238px;
  }
  .category-top {
    margin-top: 190px;
  }
  .deskdataonmobile {
    display: none !important;
  }
  .filtertop {
    margin-top: -10px !important;
  }
  .cancel-continer {
    padding-top: 0 !important;
  }
  .o-detail-continer {
    max-width: 550px;
    width: 100%;
    padding-left: 1rem;
  }
  .section-devider {
    width: 100%;
    float: left;
    background: #f4f4fd;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.04);
    transform: matrix(1, 0, 0, -1, 0, 0);
    height: 15px;
    margin: 10px 0;
  }
  
}
/* cancel ui css */
.cancel-continer {
  max-width: 520px;
  width: 100%;
  padding: 30px;
  margin: 0 auto;
}
.text-24 {
  font-size: 24px !important;
}
.flex--gutter > [class*='flex-col--']:nth-child(odd):not(:only-child) {
  padding-right: 5px;
}

.flex--gutter > [class*='flex-col--']:nth-child(even) {
  padding-left: 5px;
}

.error-container {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .mobile-cls-fix {
    min-height: 150px;
  }

  .mobile-card-panel {
    height: 238px !important;
    background: #ffffff;
  }
  .product-name {
    min-height: 30px;
  }
}

.z-99 {
  z-index: 99;
}

.z-999 {
  z-index: 999;
}

.z-9999 {
  z-index: 9999;
}

/* Overlay Loader */
.overlay-panel {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

@media only screen and (min-width: 321px) and (max-width: 767px) {
  .mobile-view-on {
    display: block;
  }
  .deskdataonmobile {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .mobile-view-on {
    display: none;
  }
  .desk-disclouser-view-hide {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .mobile-view-on {
    display: block;
  }
  .hideipad {
    display: none;
  }
}
.img-sumry-view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 414px) {
  .deskdataonmobile {
    display: none !important;
  }
}
@media screen and (max-width: 1480px) and (min-width: 1024px) {
  .lg\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
  }
}

@media screen and (min-width: 768px) {
  .heading-cls-fix {
    min-height: 100px !important;
  }
  .navbar-min-44 {
    min-height: 64px !important;
  }
}

.star-rating {
  position: relative;
  width: 24px;
  padding-left: 16px;
}
.star-rating:after {
  content: url(/assets/images/star.svg);
  width: 14px;
  height: 14px;
  position: absolute;
  left: 0;
}

.promo-copied {
  top: -30px;
  right: -20px;
  position: absolute;
  float: right;
  margin-right: 0;
  width: 90px;
  z-index: 99;
}

.promo-copied:after {
  content: '>';
  font-size: 35px;
  color: #000;
  position: absolute;
  bottom: -4px;
  right: 26%;
  z-index: -1;
  transform: rotate(90deg);
}

/* alert ribbon theme */
.bg-ribbon-green {
  background-color: #00890e !important;
}

.bg-ribbon-red {
  background-color: #c10000 !important;
}

.bg-ribbon-cancel {
  background-color: #fdebeb !important;
}

.floating-label {
  position: relative;
}

.floating-label label {
  position: absolute;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  top: 50%;
  left: 0;
  z-index: 9;
  transform: translateY(-50%);
  pointer-events: none;
  color: #251000;
  opacity: 0.56;
  font-size: 14px;
}

.floating-label input {
  min-height: 56px;
  background: #dadfe78c;
  border-radius: 2px;
}

.floating-label input:focus,
.floating-label input:not(:placeholder-shown) {
  padding-top: 1.4rem;
}

.floating-label input:focus ~ label,
.floating-label input:not(:placeholder-shown) ~ label {
  top: 24px;
  left: 5px;
  font-size: 10px;
  transition: all 0.2s ease-in-out;
  color: #251000;
}

.floating-label input::placeholder {
  color: transparent;
}

.checkbox-c label {
  margin-top: -7px;
  display: inline-block;
  vertical-align: middle;
}

.main-custom-check-label
{
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 2px;
    color: #000;
    padding: 11px 15px;
}

.main-custom-check {
  display: none;
}

.main-custom-check:checked + .main-custom-check-label {
  background: transparent;
  border: 1.5px solid #000;
}

.main-custom-check + .main-custom-check-label {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  color: #000;
  padding: 11px 15px;
}

/* custom checkbox */
.custom-checkbox {
  position: absolute;
  opacity: 0;
}

.custom-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.custom-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid #000;
}

.custom-checkbox:checked + label:before {
  background: black;
  border: 1px solid #fff;
}

.custom-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

/* end */
.topspace h2, h4, p, ul, li, br {
  margin-top: 10px; /* Adjust the value as needed */
}
.topspace p{
  line-height: 25px;
}
.topspace h2{
  font-size: 18px;
  }

  /* order status timeline css */
.order-track-step {
  display: flex;
  height: 50px;
}
.order-track-step:last-child {
  overflow: hidden;
  height: 4rem;
}
.order-track-step:last-child .order-track-status span:last-of-type {
  display: none;
}
.order-track-step.completed:last-child .order-track-status-line,
.order-track-step.cancelled:last-child .order-track-status-line {
  display: none !important;
}
.order-track-step.completed:last-child .check-s-icon,
.order-track-step.cancelled:last-child .check-s-icon {
  display: inline-block !important;
}
.order-track-status {
  margin-right: 1.5rem;
  position: relative;
}
.order-track-status-dot {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f3f4f5;
  border: 1px solid #eb5b25;
  align-items: center;
  justify-content: center;
}
.order-track-status-line {
  display: block;
  margin: 0 auto;
  width: 1px;
  height: 50px;
  background: #fff;
  border-left: 1px dotted #000;
}
.order-track-text-stat {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
}
.order-track-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.order-track {
  transition: all 0.3s height 0.3s;
  transform-origin: top center;
}
.order-track-step.completed .order-track-status-dot {
  background: #00890e;
  border: 1px solid #00890e;
}
.check-s-icon {
  display: inline;
}
.order-track-step.completed .order-track-text-stat {
  opacity: 1;
}
.order-track-step.completed .check-s-icon {
  display: inline;
}
.order-track-step.cancelled .order-track-status-dot {
  background: #c10000;
  border: 1px solid #c10000;
}
.order-track-step.cancelled .order-track-text-stat {
  opacity: 1;
}
.order-track-step.cancelled .check-s-icon {
  display: inline;
}
/* order status timeline ends */
