.root {
  @apply box-border inset-0 z-50 h-full outline-none;
}

.sidebar {
  @apply flex flex-col h-full overflow-x-hidden overflow-y-auto text-base shadow-xl bg-accent-0;
  -webkit-overflow-scrolling: touch !important;
}

.backdrop {
  @apply absolute inset-0 duration-100 ease-linear bg-black bg-opacity-80;
  backdrop-filter: blur(0.8px);
  -webkit-backdrop-filter: blur(0.8px);
}
