.sprite-icon {
	background: url(/assets//icons/sprite-icon.svg) no-repeat;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
}

.sprite-fb {
	background: url('/image/sprite-icons.png') no-repeat -39px -43px;
	width: 40px;
	height: 43px;
}
.sprite-twitter {
	background: url('/image/sprite-icons.png') no-repeat -31px -111px;
	width: 49px;
	height: 38px;
}
.sprite-insta {
	background: url('/image/sprite-icons.png') no-repeat -33px -174px;
	width: 52px;
	height: 41px;
}

.sprite-tic {
	background: url('/image/sprite-icons.png') no-repeat -34px -241px;
	width: 47px;
	height: 40px;
}

.sprite-shopify {
	background: url('/image/sprite-icons.png') no-repeat -35px -302px;
	width: 47px;
	height: 43px;
}

.sprite-close {
	background-position: -1409px -175px;
	width: 20px;
	height: 20px;
}

.sprite-light-close {
	background-position: -1664px -90px;
	width: 9px;
	height: 9px;
}

.sprite-left-arrow {
	background-position: -10px -443px;
	width: 15px;
	height: 12px;
}