@tailwind base;
/* base css start */
:root {
  --primary: #ffffff;
  --primary-2: #f1f3f5;
  --secondary: #000000;
  --secondary-2: #111;
  --selection: var(--cyan);

  --text-base: #000000;
  --text-primary: #000000;
  --text-secondary: white;

  --hover: rgba(0, 0, 0, 0.075);
  --hover-1: rgba(0, 0, 0, 0.15);
  --hover-2: rgba(0, 0, 0, 0.25);
  --cyan: #22b8cf;
  --green: #37b679;
  --red: #da3c3c;
  --purple: #f81ce5;
  --blue: #0070f3;

  --pink: #ff0080;
  --pink-light: #ff379c;

  --magenta: #eb367f;

  --violet: #7928ca;
  --violet-dark: #4c2889;

  --accent-0: #fff;
  --accent-1: #fafafa;
  --accent-2: #eaeaea;
  --accent-3: #999999;
  --accent-4: #888888;
  --accent-5: #666666;
  --accent-6: #444444;
  --accent-7: #333333;
  --accent-8: #111111;
  --accent-9: #000;

  --font-primary: 'Oswald', sans-serif;

  /* font size variable */
  --font-10: 10px;
  --font-12: 12px;
  --font-14: 14px;
  --font-16: 16px;
  --font-18: 18px;
  --font-20: 20px;
  --font-22: 22px;
  --font-24: 24px;
  --font-26: 26px;
  --font-28: 28px;
  --font-30: 30px;
  --font-32: 32px;
  --font-34: 34px;
  --font-36: 36px;
  --font-40: 40px;
  --font-44: 44px;
  --font-48: 48px;
  --font-64: 64px;
  --font-68: 68px;
  --font-72: 72px;
  --font-74: 74px;
  --font-76: 76px;
  /* font size variable */

  /* primary color variable */
  --brand-red: #FF3600;
  --web-red: #DF340C;
  --barnd-blue: #212530;
  --web-blue: #252E47;
  --brand-white: #fff;
  --web-white: #F8F8F8;
  --tan-clr: #F3EDE3;
  --teal-clr: #345662;
  /* primary color variable */

  /* secondary color variable */
  --cool-grey: #DDDBDB;
  --yellow-clr: #FCD673;
  --black-clr: #2A2A2B;
  --light-green: #B1CBC0;
  --deep-green: #5F7970;
  /* secondary color variable */

  /* button primary variable */
  --btn-bg-primary: #E8AA42;
  --btn-text-color-primary: #fff;
  --btn-hover-text-color-primary: #fff;
  --btn-bg-hover-primary: #E57C23;
  /* button primary variable */

  /* button secondary variable */
  --btn-bg-secondary: #E8AA42;
  --btn-text-color-secondary: #fff;
  --btn-hover-text-color-secondary: #fff;
  --btn-bg-hover-secondary: #E8AA42;
  /* button secondary variable */

  /* button primary red variable */
  --btn-bg-red: #DF340C;
  --btn-text-color-red: #fff;
  --btn-hover-text-color-red: #fff;
  --btn-border-red: #DF340C;
  --btn-bg-hover-red: #FF3600;
  --btn-border-hover-red: #FF3600;
  /* button primary variable */

  /* button primary blue variable */
  --btn-bg-blue: #11009E;
  --btn-text-color-blue: #fff;
  --btn-hover-text-color-blue: #fff;
  --btn-border-blue: #11009E;
  --btn-bg-hover-blue: #252E47;
  --btn-border-hover-blue: #252E47;
  /* button primary blue variable */

  /* button primary white variable */
  --btn-bg-white: #F8F1F1;
  --btn-text-color-white: #212530;
  --btn-hover-text-color-white: #212530;
  --btn-border-white: #212530;
  --btn-bg-hover-white: #FFFFFF;
  --btn-border-hover-white: #212530;
  /* button primary white variable */

  /* button primary teal variable */
  --btn-bg-teal: #116A7B;
  --btn-text-color-teal: #fff;
  --btn-hover-text-color-teal: #fff;
  --btn-border-teal: #116A7B;
  --btn-bg-hover-teal: #3F6978;
  --btn-border-hover-teal: #3F6978;
  /* button primary teal variable */

  /* button default variable */
  --btn-bg-default: transparent;
  --btn-text-color-default: #E8AA42;
  --btn-border-clr-default: #E8AA42;
  --btn-bg-hover-default: transparent;
  --btn-hover-text-color-default: #000;
  --btn-hover-border-clr-default: #cbd5e1;
  /* button default variable */

  /* button default red variable */
  --btn-d-bg-red: #fff;
  --btn-d-text-color-red: #DF340C;
  --btn-d-hover-text-color-red: #FF3600;
  --btn-d-border-red: #DF340C;
  --btn-d-bg-hover-red: rgba(255, 54, 0, 0.1);
  --btn-d-border-hover-red: #FF3600;
  /* button default red variable */

  /* button default blue variable */
  --btn-d-bg-blue: #fff;
  --btn-d-text-color-blue: #212530;
  --btn-d-hover-text-color-blue: #212530;
  --btn-d-border-blue: #212530;
  --btn-d-bg-hover-blue: rgba(33, 37, 48, 0.1);
  --btn-d-border-hover-blue: #212530;
  /* button default blue variable */

  /* button default blue variable */
  --btn-d-bg-teal: #fff;
  --btn-d-text-color-teal: #345662;
  --btn-d-hover-text-color-teal: #345662;
  --btn-d-border-teal: #345662;
  --btn-d-bg-hover-teal: rgba(52, 86, 98, 0.1);
  --btn-d-border-hover-teal: #345662;
  /* button default blue variable */

  /* label primary red variable */
  --label-bg-red: #DF340C;
  --label-text-clr-red: #fff;
  --label-border-red: #DF340C;
  /* label primary red variable */

  /* label primary blue variable */
  --label-bg-blue: #212530;
  --label-text-clr-blue: #fff;
  --label-border-blue: #212530;
  /* label primary blue variable */

  /* label primary white variable */
  --label-bg-white: #fff;
  --label-text-clr-white: #212530;
  --label-border-white: #212530;
  /* label primary white variable */

  /* label primary tan variable */
  --label-bg-tan: #F3EDE3;
  --label-text-clr-tan: #212530;
  --label-border-tan: #F3EDE3;
  /* label primary tan variable */

  /* label primary yellow variable */
  --label-bg-yellow: #FCD673;
  --label-text-clr-yellow: #212530;
  --label-border-yellow: #FCD673;
  /* label primary tan variable */

  /* label default red variable */
  --label-d-bg-red: #fff;
  --label-d-text-clr-red: #DF340C;
  --label-d-border-red: #DF340C;
  /* label default red variable */

  /* label default blue variable */
  --label-d-bg-blue: #fff;
  --label-d-text-clr-blue: #212530;
  --label-d-border-blue: #212530;
  /* label default blue variable */

  /* label default white variable */
  --label-d-bg-white: #212530;
  --label-d-text-clr-white: #fff;
  --label-d-border-white: #fff;
  /* label default white variable */

  /* Header variable */
  --bg-header-color: #ECE5C7;
  --text-header-clr: #2e2929;
  --text-hover-clr: #000;
  --border-hover-clr: #DF340C;
  --menu-icon-color: #000;
  /* footer variable */

  /* footer variable */
  --bg-footer-color: #ECE5C7;
  --text-footer-clr: #000;
  /* footer variable */
  /* compare outline color */
  --outline-color-red: #ECE5C7;
  /* compare outline color */
}

[data-theme='dark'] {
  --primary: #000000;
  --primary-2: #111;
  --secondary: #ffffff;
  --secondary-2: #f1f3f5;
  --hover: rgba(255, 255, 255, 0.075);
  --hover-1: rgba(255, 255, 255, 0.15);
  --hover-2: rgba(255, 255, 255, 0.25);
  --selection: var(--purple);

  --text-base: white;
  --text-primary: white;
  --text-secondary: black;

  --accent-9: #fff;
  --accent-8: #fafafa;
  --accent-7: #eaeaea;
  --accent-6: #999999;
  --accent-5: #888888;
  --accent-4: #666666;
  --accent-3: #444444;
  --accent-2: #333333;
  --accent-1: #111111;
  --accent-0: #000;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media screen and (max-width: 767px) {
  :root {
    --font-10: 10px;
    --font-12: 12px;
    --font-14: 14px;
    --font-16: 16px;
    --font-18: 18px;
    --font-20: 18px;
    --font-22: 22px;
    --font-24: 18px;
    --font-26: 22px;
    --font-28: 24px;
    --font-30: 24px;
    --font-32: 24px;
    --font-34: 30px;
    --font-36: 28px;
    --font-40: 30px;
    --font-44: 30px;
    --font-48: 30px;
    --font-64: 30px;
    --font-68: 30px;
    --font-72: 32px;
    --font-74: 36px;
    --font-76: 40px;
  }
}

@font-face {
  font-family: 'Oswald';
  src: url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-SemiBold.woff2') format('woff2'),
    url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-ExtraLight.woff2') format('woff2'),
    url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-Bold.woff2') format('woff2'),
    url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-Light.woff2') format('woff2'),
    url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-Medium.woff2') format('woff2'),
    url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-Regular.woff2') format('woff2'),
    url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: var(--font-primary);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--text-primary);
  overscroll-behavior-x: none;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  top: 0 !important;
  font-family: var(--font-primary) !important;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* base css End */

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: 'Oswald';
  src: url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-SemiBold.woff2') format('woff2'),
    url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-ExtraLight.woff2') format('woff2'),
    url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-Bold.woff2') format('woff2'),
    url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-Light.woff2') format('woff2'),
    url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-Medium.woff2') format('woff2'),
    url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-Regular.woff2') format('woff2'),
    url('http://cdnbs.bettercommerce.tech/theme/blue/font/Oswald-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-primary) !important;
  font-size: var(--font-14);
  overflow-x: hidden;
}

h1 {
  font-size: var(--font-32);
}

h2 {
  font-size: var(--font-28);
}

h3 {
  font-size: var(--font-26);
}

h4 {
  font-size: var(--font-14);
}

h5 {
  font-size: var(--font-16);
}

h6 {
  font-size: var(--font-14);
}

p {
  font-size: var(--font-12);
}

.font-10 {
  font-size: 10px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-32 {
  font-size: 32px !important;
}

.font-36 {
  font-size: 36px !important;
}

.font-42 {
  font-size: 42px !important;
}

.font-46 {
  font-size: 46px !important;
}

.font-52 {
  font-size: 52px !important;
}

.font-56 {
  font-size: 56px !important;
}

/* bg color css */
.bg-blue-web {
  background: var(--barnd-blue);
}

/* bg color css */
.primary-text-color {
  color: #000;
}

.bg-header-color {
  background: var(--bg-header-color);
}

.text-header-clr {
  color: var(--text-header-clr);
}

.text-hover-clr {
  color: var(--text-hover-clr);
}

.border-hover-clr {
  border-color: var(--border-hover-clr);
}

.bg-footer-color {
  background: var(--bg-footer-color);
}

.text-footer-clr {
  color: var(--text-footer-clr);
}

.btn-primary-white.btn-padding-none {
  padding: 0px !important;
}

/* button  css start */
.btn-primary {
  background: var(--btn-bg-primary);
  color: var(--btn-text-color-primary);
  font-size: var(--font-18);
}

.btn-c.btn-primary {
  background: var(--btn-bg-primary);
  color: var(--btn-text-color-primary);
  font-size: var(--font-18);
}

.btn-c.btn-primary:hover {
  background: var(--btn-bg-hover-primary);
  color: var(--btn-hover-text-color-primary);
}

.btn-primary:hover {
  background: var(--btn-bg-hover-primary);
  color: var(--btn-hover-text-color-primary);
}

.btn-secondary {
  background: var(--btn-bg-secondary);
  color: var(--btn-text-color-secondary);
  font-size: var(--font-18);
}

.btn-secondary:hover {
  background: var(--btn-bg-hover-secondary);
  color: var(--btn-hover-text-color-secondary);
}

.btn-c.btn-secondary {
  display: inline-block;
  text-align: center;
  background: var(--btn-bg-secondary) !important;
  color: var(--btn-text-color-secondary);
  font-size: var(--font-18);
  padding: 12px 24px !important;
  border-radius: 4px;
  border: 0 !important;
}

.btn-c.btn-secondary:hover {
  background: var(--btn-bg-hover-secondary) !important;
  color: var(--btn-hover-text-color-secondary);
}

.btn-default {
  background: var(--btn-bg-default);
  color: var(--btn-text-color-default);
  border: 2px solid var(--btn-text-color-default);
  border-color: var(--btn-border-clr-default);
  font-size: var(--font-18);
}

.btn-default:hover {
  background: var(--btn-bg-hover-default);
  color: var(--btn-hover-text-color-default);
  border-color: var(--btn-hover-border-clr-default);
}

.btn-c.btn-primary-red {
  display: inline-block;
  text-align: center;
  padding: 12px 24px !important;
  background: var(--btn-bg-red) !important;
  border-radius: 4px;
  color: var(--btn-text-color-red);
  border: 2px solid var(--btn-border-red);
  font-size: var(--font-18);
  box-sizing: border-box;
}

.btn-c.btn-primary-red:hover {
  background: var(--btn-bg-hover-red) !important;
  color: var(--btn-hover-text-color-red);
  border: 2px solid var(--btn-border-hover-red);
}

.btn-primary-red {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  background: var(--btn-bg-red);
  border-radius: 4px;
  color: var(--btn-text-color-red);
  border: 2px solid var(--btn-border-red);
  font-size: var(--font-18);
  box-sizing: border-box;
}

.btn-primary-red:hover {
  background: var(--btn-bg-hover-red);
  color: var(--btn-hover-text-color-red);
  border: 2px solid var(--btn-border-hover-red);
}

.btn-primary-blue {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  background: var(--btn-bg-blue);
  border-radius: 4px;
  color: var(--btn-text-color-blue);
  border: 2px solid var(--btn-border-blue);
  font-size: var(--font-18);
  box-sizing: border-box;
}

.btn-primary-blue:hover {
  background: var(--btn-bg-hover-blue);
  color: var(--btn-hover-text-color-blue);
  border: 2px solid var(--btn-border-hover-blue);
}

.btn-primary-teal {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  background: var(--btn-bg-teal);
  border-radius: 4px;
  color: var(--btn-text-color-teal);
  border: 2px solid var(--btn-border-teal);
  font-size: var(--font-18);
  box-sizing: border-box;
}

.btn-primary-teal:hover {
  background: var(--btn-bg-hover-teal);
  color: var(--btn-hover-text-color-teal);
  border: 2px solid var(--btn-border-hover-teal);
}

.btn-primary-white {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  background: var(--btn-bg-white);
  border-radius: 4px;
  color: var(--btn-text-color-white);
  border: 2px solid var(--btn-border-white);
  font-size: var(--font-18);
  box-sizing: border-box;
}

.btn-primary-white:hover {
  background: var(--btn-bg-hover-white);
  color: var(--btn-hover-text-color-white);
  border: 2px solid var(--btn-border-hover-white);
}

.btn-default-red {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  background: var(--btn-d-bg-red);
  border-radius: 4px;
  color: var(--btn-d-text-color-red);
  border: 2px solid var(--btn-d-border-red);
  font-size: var(--font-18);
  box-sizing: border-box;
}

.btn-default-red:hover {
  background: var(--btn-d-bg-hover-red);
  color: var(--btn-d-hover-text-color-red);
  border: 2px solid var(--btn-d-border-hover-red);
}

.btn-default-blue {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  background: var(--btn-d-bg-blue);
  border-radius: 4px;
  color: var(--btn-d-text-color-blue);
  border: 2px solid var(--btn-d-border-blue);
  font-size: var(--font-18);
  box-sizing: border-box;
}

.btn-default-blue:hover {
  background: var(--btn-d-bg-hover-blue);
  color: var(--btn-d-hover-text-color-blue);
  border: 2px solid var(--btn-d-border-hover-blue);
}

.btn-default-teal {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  background: var(--btn-d-bg-teal);
  border-radius: 4px;
  color: var(--btn-d-text-color-teal);
  border: 2px solid var(--btn-d-border-teal);
  font-size: var(--font-18);
  box-sizing: border-box;
}

.btn-default-teal:hover {
  background: var(--btn-d-bg-hover-teal);
  color: var(--btn-d-hover-text-color-teal);
  border: 2px solid var(--btn-d-border-hover-teal);
}

/* button  css End */


/* label badge css start */
.label-primary-red {
  padding: 4px 6px;
  background: var(--label-bg-red);
  color: var(--label-text-clr-red);
  border: 1px solid var(--label-border-red);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-primary-blue {
  padding: 4px 6px;
  background: var(--label-bg-blue);
  color: var(--label-text-clr-blue);
  border: 1px solid var(--label-border-blue);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-primary-white {
  padding: 4px 6px;
  background: var(--label-bg-white);
  color: var(--label-text-clr-white);
  border: 1px solid var(--label-border-white);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-primary-tan {
  padding: 4px 6px;
  background: var(--label-bg-tan);
  color: var(--label-text-clr-tan);
  border: 1px solid var(--label-border-tan);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-primary-yellow {
  padding: 4px 6px;
  background: var(--label-bg-yellow);
  color: var(--label-text-clr-yellow);
  border: 1px solid var(--label-border-yellow);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-default-red {
  padding: 4px 6px;
  background: var(--label-d-bg-red);
  color: var(--label-d-text-clr-red);
  border: 1px solid var(--label-d-border-red);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-default-blue {
  padding: 4px 6px;
  background: var(--label-d-bg-blue);
  color: var(--label-d-text-clr-blue);
  border: 1px solid var(--label-d-border-blue);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.label-default-white {
  padding: 4px 6px;
  background: var(--label-d-bg-white);
  color: var(--label-d-text-clr-white);
  border: 1px solid var(--label-d-border-white);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

/* label badge css End */

/* flag primary css start */
.flag-primary-red {
  padding: 12px 16px;
  display: inline-block;
  width: 180px;
  background: var(--web-red);
  color: var(--brand-white);
  clip-path: polygon(100% 0, 75% 52%, 100% 100%, 0% 100%, 0 48%, 0% 0%);
}

.flag-primary-blue {
  padding: 12px 16px;
  display: inline-block;
  width: 180px;
  background: var(--barnd-blue);
  color: var(--brand-white);
  clip-path: polygon(100% 0, 75% 52%, 100% 100%, 0% 100%, 0 48%, 0% 0%);
}

.flag-primary-tan {
  padding: 12px 16px;
  display: inline-block;
  width: 180px;
  background: var(--tan-clr);
  color: var(--barnd-blue);
  clip-path: polygon(100% 0, 75% 52%, 100% 100%, 0% 100%, 0 48%, 0% 0%);
}

.flag-primary-teal {
  padding: 12px 16px;
  display: inline-block;
  width: 180px;
  background: var(--teal-clr);
  color: var(--brand-white);
  clip-path: polygon(100% 0, 75% 52%, 100% 100%, 0% 100%, 0 48%, 0% 0%);
}

/* flag primary css start */
.min-height-65 {
  min-height: 65px;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .pagination-ul {
    display: block;
    text-align: center;
    padding: 0 5px;
  }

  .pagination-ul li {
    display: inline-block;
  }

  .pagination-ul li a {
    font-size: 13px !important;
  }
}

/* footer css */
.mob-menu-icon {
  color: var(--menu-icon-color) !important;
}

.include-vat-checked {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 12px;
  color: var(--btn-text-color-primary);
}

.include-vat-unchecked {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 12px;
  color: var(--btn-text-color-secondary);
}

/* .min-cls-h {
  min-height: 440px;
} */

@media screen and (min-width:767px) {
  .min-cls-h {
    min-height: 470px;
  }
}

/* product list image width and height control css  */
.height-img-auto {
  min-height: 0 !important;
  object-fit: contain !important;
  object-position: inherit;
  width: auto !important;
  height: 180px !important;
}

.height-img-auto-sm {
  min-height: 0 !important;
  object-fit: contain !important;
  object-position: inherit;
  width: auto !important;
  height: 120px !important;
}

.mobile-card-panel.white-card {
  background: #fff !important;
  min-height: 180px !important;
}


.mobile-card-panel.white-card-sm {
  background: #fff !important;
  min-height: 120px !important;
}

@media screen and (min-width:1024px) {
  .height-img-auto {
    min-height: 0 !important;
    object-fit: contain !important;
    object-position: inherit;
    width: auto !important;
    height: 350px !important;
  }

  .height-img-auto-sm {
    min-height: 0 !important;
    object-fit: contain !important;
    object-position: inherit;
    width: auto !important;
    height: 250px !important;
  }

  .mobile-card-panel.white-card {
    background: #fff !important;
    min-height: 350px !important;
  }

  .mobile-card-panel.white-card-sm {
    background: #fff !important;
    min-height: 250px !important;
  }
}

.cookie-bannner>div {
  width: 350px;
  max-width: 100%;
  background-color: #000;
  -webkit-transition: -webkit-transform 0s ease-in-out, visibility 0s;
  -webkit-transition: transform 0s ease-in-out, visibility 0s;
  transition: transform 0s ease-in-out, visibility 0s
}

.cookie-bannner div:has(button) {
  display: flex;
  flex-direction: column;
}

.cookie-bannner button {
  width: 100%;
  display: block;
  margin: 5px 5px 5px 0 !important;
  border: 1px solid #fff !important;
  min-height: 30px;
  padding: 5px 10px;
}

.cookie-bannner p {
  color: #fff !important;
}

@media screen and (max-width:767px) {
  .cookie-bannner>div {
    width: 100%;
    max-width: 100%;
  }
}

.bg-tan {
  background: var(--tan-clr);
}

.custom-scroll {
  max-height: 700px;
  overflow-y: auto;
}

.custom-scroll::-webkit-scrollbar {
  width: 0px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #fff;
  opacity: 1;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #d3d3d36e !important;
  width: 0px;
  border-radius: 0px;
}

.outline-primary {
  outline-color: var(--outline-color-red);
}

@media screen and (max-width:900px) {
  .text-10-mob {
    font-size: 10px !important;
  }
}
.button {
  display: inline-block !important;
  text-align: center !important;
  background: var(--btn-bg-secondary) !important;
  color: var(--btn-text-color-secondary) !important;
  font-size: var(--font-14) !important;
  padding: 6px 12px !important;
  border: 0 !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important
}
.button:hover {
  background: var(--btn-bg-hover-secondary) !important;
  color: var(--btn-hover-text-color-secondary) !important;
}